altgraph==0.17.2
beautifulsoup4==4.10.0
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cycler==0.11.0
Cython==0.29.28
dash==2.3.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==2.0.3
Flask-Compress==1.11
fonttools==4.31.2
future==0.18.2
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
kiwisolver==1.4.0
lxml==4.8.0
macholib==1.16
MarkupSafe==2.1.1
matplotlib==3.5.1
mplfinance==0.12.8b9
multitasking==0.0.10
numpy==1.22.3
packaging==21.3
pandas==1.4.1
pefile==2021.9.3
Pillow==9.0.1
plotly==5.6.0
pygame==2.1.2
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
pywin32-ctypes==0.2.0
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
tenacity==8.0.1
tk==0.1.0
ttkthemes==3.2.2
urllib3==1.26.9
Werkzeug==2.0.3
yahoofinancials==1.6
yfinance==0.1.70
